%h1 Runs

-# TODO:
-#   Name 'Run #{id}'
-#   Make a table, with statistics, created_at at end
-#   Add an X button that deletes the run (or marks it hidden)

%table.ui.selectable.compact.table
  %thead
    %th Run ID
    %th Placements
    %th Placement Rate
    %th
      Preference
      %br
      Matched
    %th Avg Travel Time
    %th Daily Travel Time
    %th Status
    %th Timestamp
    %th
      Export
      %br
      Mail Merge
    %th
      Set
      %br
      Expiration
    %th
      Delete
      %br
      Run
  %tbody
    - @runs.each do |run|
      - mood = run.succeeded? ? 'positive' : 'warning'

      %tr{class: mood}
        %td
          %a{href: "/runs/#{run.id}"}= run.id
        %td= run.placements.count
        %td
          = succeed '%' do
            = run.statistics.fetch('placement_rate', 0).round(1)
        %td
          = succeed '%' do
            = ((run.statistics.fetch('matched_nearby', 0) + run.statistics.fetch('matched_with_interest', 0)) / run.placements.count.to_f * 100).round(1)
        %td
          = (run.statistics.fetch('average_travel_time', 0) / 60).round(1)
          mins
        %td
          = (run.statistics.fetch('total_travel_time', 0) / 60 / 60).round(2)
          hours
        %td
          - if run.succeeded?
            %i.checkmark.icon
          - else
            %i.attention.icon
            = run.status
        %td
          %small= run.created_at
        %td
          %button.disabled.circular.ui.icon.button
            %i.cloud.download.icon
        %td
          %button.disabled.circular.ui.icon.button
            %i.wait.icon
        %td
          %form{method: :post, action: "/runs/#{run.id}", onsubmit: "return confirm('Are you sure?');"}
            %input{type: 'hidden', name: '_method', value: 'delete'}
            %button.basic.red.circular.ui.icon.button{type: 'submit'}
              %i.remove.icon
